.titreContact {
  width: 100%;
  margin-top: 4rem;
  @include flex(row, center, center, center);
  .pancarte {
    @include flex(row, end, center, end);
    width: 60%;
    margin-bottom: 5rem;
    @include degraderGray();
    h2 {
      @include ombreDark;
      padding: 5rem;
      letter-spacing: 1rem;
      text-align: center;
      color: $orange;
      font-size: 3rem;
      width: 100%;
      text-transform: uppercase;
    }
  }
}
#contact {
  @include flex(row, space-around, center, center);
  width: 100%;
  padding-bottom: 2rem;
  .renseignements {
    margin-top: 2rem;
    flex: 1;
    @include flex(column, start, center, center);
    h3 {
      @include ombreDark();
      padding: 1rem;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: 1rem;
      color: $orangeDark;
    }
    .devisBtn {
      width: 50%;
      padding: 1rem;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      border-radius: 0.5rem;
      border: 0.1rem solid black;
      cursor: pointer;
      background: $orange;
      color: #000000;
      &:hover {
        background: $orangeDark;
        color: #ffffff;
        transition: all 0.3s ease;
      }
    }
    p {
      @include flex(column, center, center, center);
      width: 50%;
      gap: 2rem;
      padding: 2rem 0;
      line-height: 3rem;
      span {
        width: 100%;
        text-align: center;
      }

      .bolder {
        font-weight: bold;
        font-size: 2rem;
      }
      b {
        color: $orangeDark;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  form {
    @include flex(column, space-around, stretch, center);
    flex-wrap: wrap;
    flex: 1;
    .titreContact {
      margin-top: 2rem;
    }
    .group {
      @include flex(column, space-around, start, center);
      gap: 1rem;
      margin-top: 3rem;
      textarea {
        padding-top: 1rem;
        padding-left: 1rem;
        text-align: start;
        border-radius: 0.5rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.5);
      }
      label {
        font-weight: bold;
        b {
          color: $orangeDark;
        }
      }
      input {
        height: 2rem;
        width: 50%;
        border: 0.1rem solid rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        padding-left: 1rem;
      }
    }

    .validation {
      margin-top: 2rem;
      border-radius: 0.5rem;
      padding: 1rem;
      font-weight: bold;
      background: green;
      color: #ffffff;
      cursor: pointer;
      &:hover {
        background: rgb(2, 215, 2);
        color: black;
        transition: all 0.3s ease;
      }
    }
  }
}
@media screen and (max-width: 999px) {
  #contact {
    @include flex(column, space-around, center, center);
    form {
      order: 1;
    }
    .renseignements {
      order: 2;
    }
  }
}
@media screen and (max-width: 599px) {
  .titreContact {
    .pancarte {
      width: 100%;
    }
  }
  form {
    padding: 0 2rem;
    .group {
      textarea {
        width: 90%;
      }
    }
  }
}
