nav.navDevis {
  align-content: flex-end;
  margin-right: 2rem;
}

section {
  @include flex(column, center, center, center);
  width: 100%;
  .container {
    @include flex(column, center, center, center);
    height: 100%;

    form {
      max-width: 800px;
      width: 100%;

      fieldset {
        border: 1px solid $orange;
        padding: 5rem;
        margin-bottom: 3rem;

        legend {
          @include flex(row, center, center, center);
          text-align: center;
          font-size: 2.5rem;
          font-weight: bold;
          color: $orangeDark;
          padding: 1rem;
        }

        .group {
          @include flex(column, center, stretch, center);
          margin-bottom: 2em;
          gap: 1rem;

          .demandePrix {
            @include flex(row, space-around, center, center);
            gap: 1rem;
          }
        }
        .columnGroup {
          @include flex(column, center, stretch, center);
          margin-bottom: 2em;
          gap: 1rem;
        }

        .titleGroup {
          font-size: 2rem;
          font-weight: bold;
          padding-bottom: 2rem;
        }

        .groupItem {
          @include flex(row, center, center, center);
          flex-wrap: wrap;
          width: 100%;
          gap: 1rem;
          margin-bottom: 1rem;

          label.labelAutre,
          input#autreService {
            flex: 1;
            text-align: center;
          }

          .choix {
            text-align: center;
          }

          label {
            font-weight: bold;
            flex: 3;
          }

          input {
            flex: 1;
            height: 2rem;
            border: 0.1rem solid currentColor;
            border-radius: 0.5rem;
          }

          #lieuReception,
          #dateReception,
          #heureDebut,
          #heureFin,
          #nombreConvives {
            flex: 3;
            text-align: center;
            font-size: 1.8rem;
          }

          #last_name,
          #first_name,
          #societe,
          #adresse,
          #telephone,
          #email {
            flex: 6;
          }
        }
      }

      textarea {
        padding-top: 1rem;
        padding-left: 1rem;
        text-align: start;
        border-radius: 0.5rem;
        border: 0.1rem solid currentColor;
      }

      div.fieldsetBtn {
        padding: 5rem;
        margin-bottom: 3rem;
        border: none;
        display: flex;
        justify-content: center;

        .btnSubmit {
          width: 100%;
          padding: 2rem;
          text-align: center;
          font-weight: bold;
          font-size: 2rem;
          background: #ff9900;
          color: #373737;
          border-radius: 0.5rem;
          border: 0.1rem solid currentColor;
          cursor: pointer;

          &:hover {
            background: $orange;
            color: currentColor;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  section {
    .container {
      form {
        max-width: 100%;
        fieldset {
          .group {
            .demandePrix {
              flex-direction: column;
              gap: 1rem;
            }
          }
          .columnGroup {
            .groupItem {
              @include flex(column, center, stretch, stretch);
              flex-wrap: wrap;
              width: 100%;
              gap: 1rem;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}
